<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>光谷</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226482</string>
			<string>144226481</string>
		</array>
	</dict>
	<key>杨家湾</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226522</string>
			<string>144226521</string>
		</array>
	</dict>
	<key>虎泉</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226562</string>
			<string>144226561</string>
		</array>
	</dict>
	<key>广埠屯</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226602</string>
		</array>
	</dict>
	<key>街道口</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226642</string>
		</array>
	</dict>
	<key>宝通寺</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226682</string>
		</array>
	</dict>
	<key>中南路</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226722</string>
		</array>
	</dict>
	<key>小龟山</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226802</string>
		</array>
	</dict>
	<key>螃蟹岬</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>144226843</string>
		</array>
	</dict>
	<key>实验室</key>
	<dict>
		<key>CIDS</key>
		<array>
			<string>143016428</string>
		</array>
	</dict>
</dict>
</plist>
